.login-page{
  margin: 5rem 0;
  .layui-row{
    display: flex;
    flex-wrap: wrap;
    &.flexbox{
      justify-content: center;
    }
  }
  .layui-card{
    box-shadow: 0px 0px 35px 0 rgba(154,161,171,.35);
    .layui-card-header{
      background-color: #727CF5;
      color: #FFF;
      padding: 2rem 0;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .layui-card-body{
      padding: 2rem;
      text-align: center;
      .title{
        width: 75%;
        margin: auto;
        h3{
          margin: 10px 0;
        }
        p{
          margin-bottom: 2rem;
        }
      }
      .layui-form-item[wid100] .layui-input-block{
        margin-left: 0;
      }
      .layui-btn{
        background-color: #727CF5;
        color: #FFF;
      }
    }
  }
  .powerby{
    padding: 2rem 0;
  }
}
