.login-page {
  margin: 5rem 0; }
  .login-page .layui-row {
    display: flex;
    flex-wrap: wrap; }
    .login-page .layui-row.flexbox {
      justify-content: center; }
  .login-page .layui-card {
    box-shadow: 0px 0px 35px 0 rgba(154, 161, 171, 0.35); }
    .login-page .layui-card .layui-card-header {
      background-color: #727CF5;
      color: #FFF;
      padding: 2rem 0;
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
    .login-page .layui-card .layui-card-body {
      padding: 2rem;
      text-align: center; }
      .login-page .layui-card .layui-card-body .title {
        width: 75%;
        margin: auto; }
        .login-page .layui-card .layui-card-body .title h3 {
          margin: 10px 0; }
        .login-page .layui-card .layui-card-body .title p {
          margin-bottom: 2rem; }
      .login-page .layui-card .layui-card-body .layui-form-item[wid100] .layui-input-block {
        margin-left: 0; }
      .login-page .layui-card .layui-card-body .layui-btn {
        background-color: #727CF5;
        color: #FFF; }
  .login-page .powerby {
    padding: 2rem 0; }

html {
  background-color: #f0f1f7;
  color: #666; }

body {
  font-family: 'Open Sans', sans-serif; }

.layui-layout-admin .layui-logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1002;
  width: 220px;
  height: 66px;
  padding: 0 15px;
  box-sizing: border-box;
  overflow: hidden;
  font-weight: 300;
  background-repeat: no-repeat;
  background-position: center center; }

[lay-href], [lay-tips], [layadmin-event] {
  cursor: pointer; }

.layui-layout-admin .layui-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 66px;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }

.layui-layout-admin .layui-header .layui-nav .layui-nav-child a {
  color: #333; }

.layui-layout-admin .layui-side {
  width: 220px;
  top: 0;
  z-index: 1001; }

.layui-side-menu .layui-side-scroll {
  width: 240px; }

.layui-side-menu .layui-nav {
  width: 220px;
  margin-top: 66px;
  background: 0 0; }

.layui-layout-admin .layui-header {
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #E5E9F2; }

.layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
  left: 220px; }

.layui-layout-admin .layui-body {
  top: 66px;
  bottom: 0; }

.layui-fluid {
  padding: 15px; }

@media screen and (max-width: 992px) {
  .layui-layout-admin .layui-side {
    transform: translate3d(-220px, 0, 0);
    -webkit-transform: translate3d(-220px, 0, 0);
    width: 220px; }

  .layadmin-pagetabs, .layui-layout-admin .layui-body, .layui-layout-admin .layui-footer, .layui-layout-admin .layui-layout-left {
    left: 0; } }
.layadmin-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.table-process {
  display: flex;
  align-items: center;
  height: 100%; }
  .table-process .layui-progress {
    width: 100%; }

.layui-card {
  border: none;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15); }
  .layui-card .layui-card-header {
    font-size: 16px;
    color: #333;
    font-weight: 600; }
  .layui-card .layui-card-body h3 {
    font-size: 24px;
    color: #98a6ad; }
  .layui-card .layui-card-body h1 {
    font-size: 30px;
    text-align: center;
    margin: 2.5rem 0; }

.layui-collapse {
  border: none; }
  .layui-collapse .layui-colla-title {
    background: none; }
  .layui-collapse .layui-colla-content {
    border: none; }

.layui-form[wid150] .layui-form-label {
  width: 150px; }

.layui-form[wid150] .layui-input-block {
  margin-left: 180px; }

.layui-input:hover, .layui-textarea:hover {
  border-color: #727CF5 !important; }

.layui-input:focus, .layui-textarea:focus {
  border-color: #727CF5 !important; }

.layui-form-item .layui-input-info {
  width: auto;
  padding-right: 10px;
  line-height: 38px; }

.fr {
  float: right;
  margin-left: 10px; }

.layui-table tbody th {
  background-color: #EEE; }

#rightCard {
  overflow-x: hidden;
  overflow-y: scroll; }

.tag {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  padding: 0 6px;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  border: none;
  border-radius: 2px; }

#manuList {
  width: 100%;
  min-width: 200px;
  padding: 5px 10px;
  border: 1px solid #EEE; }

.dark .layui-side-menu,
.dark .layadmin-pagetabs .layui-tab-title li:after,
.dark .layadmin-pagetabs .layui-tab-title li.layui-this:after,
.dark .layui-layer-admin .layui-layer-title,
.dark .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
  background-color: #313a46 !important; }
.dark .layui-nav-tree .layui-this,
.dark .layui-nav-tree .layui-this > a,
.dark .layui-nav-tree .layui-nav-child dd.layui-this,
.dark .layui-nav-tree .layui-nav-child dd.layui-this a {
  background-color: #727CF5 !important; }
.dark .layui-layout-admin .layui-logo {
  background-color: #000 !important;
  color: #FFF;
  font-size: 24px; }
.dark .layui-btn {
  background-color: #727CF5; }
  .dark .layui-btn.layui-btn-primary {
    background-color: #EEE; }
    .dark .layui-btn.layui-btn-primary:hover {
      border-color: #000;
      background-color: #121212;
      color: #FFF; }
.dark .layui-layout-admin .layui-header .layui-nav a {
  color: #000; }
.dark .layui-nav-tree .layui-nav-bar {
  width: 5px;
  height: 0;
  background-color: #727CF5; }
.dark .layui-table thead tr, .dark .layui-table-click, .dark .layui-table-header, .dark .layui-table-hover, .dark .layui-table-mend, .dark .layui-table-patch, .dark .layui-table-tool, .dark .layui-table-total, .dark .layui-table-total tr, .dark .layui-table[lay-even] tr:nth-child(even) {
  background-color: #f1f3fa; }
.dark .layui-table tbody tr:hover {
  background-color: #f1f3fa; }
.dark .layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #727CF5; }

/*# sourceMappingURL=custom.css.map */
